Get and Evaluate Your Dataset
===

* Consider the problem you want to solve.
    - What information is most likely relevant?
    - Do you have all the relevant information you need?
* Do you need to get a dataset?
  - Consider what information you need and how to get it.
  - Are there potential problems with collecting this data?
* Do you already have a dataset? 
  - Where did it come from?
  - Are there known or potential issues with the data?

Dataset
===

We're using a modified version of the 1999-2000 [National Health and Nutrition Examination Survey](https://wwwn.cdc.gov/Nchs/Nhanes/).  
Some of the cleaning done by the researchers has been artificially undone to demonstrate the process.

Contains demographic information and body measurements of over 9,000 people of all ages.

Data Cleaning
===

The first step is to clean up any issues with the dataset, such as:
* Formatting errors (e.g. extra whitespace, misspellings)
* Incorrect type (using numerical vs string entries)
* Duplicate entries (duplicate keys or columns)
* Missing data (e.g. NaN)
* Nonsensical data entries (e.g. age < 0)
* Saturated/default data (e.g. data on the limits of sensor range)
* Confidential information

In [1]:
import numpy as np
import pandas as pd
from IPython.display import display

Take a Look at Our Data
---

In [2]:
demo_original = pd.read_csv('Data/Demographics.csv', index_col=0)
body_original = pd.read_csv('Data/BodyMeasures.csv', index_col=0)
demo_original.describe()

,SDDSRVYR,RIDSTATR,RIDEXMON,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDAGEEX,RIDRETH1,RIDRETH2,DMQMILIT,...,WTIREP43,WTIREP44,WTIREP45,WTIREP46,WTIREP47,WTIREP48,WTIREP49,WTIREP50,WTIREP51,WTIREP52
count,9968.0,9967.000000,9285.000000,9967.000000,9967.000000,9795.000000,9144.000000,9968.000000,9968.000000,5732.000000,...,9968.000000,9968.000000,9968.000000,9968.000000,9968.000000,9968.000000,9968.000000,9968.000000,9968.000000,9968.000000
mean,1.0,1.931474,1.578783,1.509983,29.725996,350.498111,345.336724,2.561597,2.231641,1.885380,...,27310.160650,27310.163962,27310.455566,27310.317214,27310.260043,27310.152429,27310.262446,27310.221881,27310.318063,27309.204677
std,0.0,0.252659,0.493781,0.499925,24.840609,287.157486,283.554689,1.268039,1.130234,0.420155,...,30662.164252,30595.400948,31040.209473,30846.492180,30719.446945,30183.929622,30381.505251,30433.979571,30902.034900,30504.034656
min,1.0,1.000000,1.000000,1.000000,-15.000000,0.000000,0.000000,1.000000,1.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.0,2.000000,1.000000,1.000000,11.000000,129.000000,128.000000,1.000000,1.000000,2.000000,...,5872.353429,5825.399910,5741.828256,5806.159712,5823.602951,5994.582302,5887.751374,5908.787800,5812.202275,5803.128885
50%,1.0,2.000000,2.000000,2.000000,19.000000,231.000000,228.000000,3.000000,2.000000,2.000000,...,13329.955762,13146.739062,12602.772205,13029.465601,13136.748919,13383.851347,13241.702132,13322.279984,12998.691847,13483.749560
75%,1.0,2.000000,2.000000,2.000000,48.000000,562.000000,550.250000,4.000000,3.000000,2.000000,...,39365.839763,39524.148907,40108.244435,39786.725033,39839.701043,39496.012125,39948.902129,39118.457922,39386.954612,40036.705287
max,1.0,2.000000,2.000000,2.000000,96.000000,1019.000000,1019.000000,5.000000,5.000000,9.000000,...,239320.707004,237571.751507,235750.381473,241834.327204,232738.992025,237147.546794,237076.103694,238360.240849,236648.979858,236964.160656

Basic Formatting
===

* Numeric data 
  - No misspellings or whitespace issues
  - No data type issues
* Columns use coded names
  - Convenient: Short, no spaces/punctuation
  - Inconvenient: Not very readable

We can find what the codenames mean by reading the [dataset codebook](https://wwwn.cdc.gov/Nchs/Nhanes/1999-2000/DEMO.htm#Codebook).

Rename Columns
---

In [3]:
demo_column_dict = {
    'RIDSTATR':'Interview/Exam',
    'RIAGENDR':'Gender',
    'RIDAGEYR':'Age',
    'DMDEDUC3':'Education - Children/Youth',
    'DMDEDUC2':'Education - Adults 20+',
    'DMDSCHOL':'Student Status',
    'DMDMARTL':'Marital Status'}

selected_columns = ['RIDSTATR', 'RIAGENDR', 'RIDAGEYR', 
                    'DMDEDUC3', 'DMDEDUC2', 'DMDSCHOL', 
                    'DMDMARTL']
demographics = demo_original[selected_columns]
demographics = demographics.rename(columns=demo_column_dict)
demographics.index.rename('ID', inplace=True)

Newly Formatted Data
---

In [4]:
display(demographics.describe())
display(demographics.head())

,Interview/Exam,Gender,Age,Education - Children/Youth,Education - Adults 20+,Student Status,Marital Status
count,9967.000000,9967.000000,9967.000000,3528.000000,4878.000000,3312.000000,6072.000000
mean,1.931474,1.509983,29.725996,7.885204,2.988520,1.396739,3.127306
std,0.252659,0.499925,24.840609,8.585046,1.400471,0.681260,3.598866
min,1.000000,1.000000,-15.000000,0.000000,1.000000,1.000000,1.000000
25%,2.000000,1.000000,11.000000,4.000000,2.000000,1.000000,1.000000
50%,2.000000,2.000000,19.000000,7.000000,3.000000,1.000000,3.000000
75%,2.000000,2.000000,48.000000,10.000000,4.000000,2.000000,5.000000
max,2.000000,2.000000,96.000000,99.000000,9.000000,9.000000,99.000000

,Interview/Exam,Gender,Age,Education - Children/Youth,Education - Adults 20+,Student Status,Marital Status
ID,,,,,,,
1,2.0,2.0,2.0,NaN,NaN,NaN,NaN
2,2.0,1.0,77.0,NaN,5.0,NaN,NaN
3,2.0,2.0,10.0,3.0,NaN,1.0,NaN
3,2.0,2.0,10.0,3.0,NaN,1.0,NaN
4,2.0,1.0,1.0,NaN,NaN,NaN,NaN

Duplicate Entries
---

* Each individual has a unique ID number
* Three people wound up with multiple entries in our dataset

In [5]:
ind = demographics.index.duplicated(keep=False)
demographics.iloc[ind]

,Interview/Exam,Gender,Age,Education - Children/Youth,Education - Adults 20+,Student Status,Marital Status
ID,,,,,,,
3,2.0,2.0,10.0,3.0,NaN,1.0,NaN
3,2.0,2.0,10.0,3.0,NaN,1.0,NaN
48,NaN,NaN,0.0,NaN,NaN,NaN,NaN
48,2.0,2.0,NaN,NaN,NaN,NaN,NaN
190,2.0,1.0,10.0,NaN,4.0,NaN,1.0
190,2.0,1.0,65.0,NaN,NaN,NaN,NaN

Subject 190
---
 
Conflicting information, remove both entries

In [6]:
demographics.loc[190,:]

,Interview/Exam,Gender,Age,Education - Children/Youth,Education - Adults 20+,Student Status,Marital Status
ID,,,,,,,
190,2.0,1.0,10.0,NaN,4.0,NaN,1.0
190,2.0,1.0,65.0,NaN,NaN,NaN,NaN

In [7]:
demographics.drop(190, inplace=True)

Subject 48
---

Looks like an entry split between rows: merge them

In [8]:
demographics.loc[48,:]

,Interview/Exam,Gender,Age,Education - Children/Youth,Education - Adults 20+,Student Status,Marital Status
ID,,,,,,,
48,NaN,NaN,0.0,NaN,NaN,NaN,NaN
48,2.0,2.0,NaN,NaN,NaN,NaN,NaN

In [9]:
demographics.loc[48,:] = [2.0, 2.0, 0.0, np.nan, np.nan, np.nan, np.nan]
demographics.loc[48,:]

,Interview/Exam,Gender,Age,Education - Children/Youth,Education - Adults 20+,Student Status,Marital Status
ID,,,,,,,
48,2.0,2.0,0.0,NaN,NaN,NaN,NaN
48,2.0,2.0,0.0,NaN,NaN,NaN,NaN

Subject 3
---

Exact duplicate: drop one row
    
Also now true of Subject 48

In [10]:
demographics.loc[3,:]

,Interview/Exam,Gender,Age,Education - Children/Youth,Education - Adults 20+,Student Status,Marital Status
ID,,,,,,,
3,2.0,2.0,10.0,3.0,NaN,1.0,NaN
3,2.0,2.0,10.0,3.0,NaN,1.0,NaN

In [11]:
demographics = demographics[~demographics.index.duplicated(keep='first')]

ind = demographics.index.duplicated(keep=False)
demographics.iloc[ind]

Empty DataFrame
Columns: [Interview/Exam, Gender, Age, Education - Children/Youth, Education - Adults 20+, Student Status, Marital Status]
Index: []

Merge Tables
===

* Duplicates have already been removed from our second table
  - Load it in
  - Fix the column names
  - Join the tables on ID

In [12]:
body_column_dict = {
    'BMXWT':'Weight (kg)',
    'BMXRECUM':'Recumbent Length (cm)',
    'BMXHT':'Standing Height (cm)',
    'BMXHEAD':'Head Circumference (cm)',
    'BMAEXSTS':'Exam Completion'
}

selected_columns = ['BMXWT', 'BMXRECUM', 'BMXHT', 'BMXHEAD', 'BMAEXSTS']
body = body_original[selected_columns]
body = body.rename(columns=body_column_dict)

body.index.rename('ID', inplace=True)

dataset = demographics.join(body)
dataset.describe()

,Interview/Exam,Gender,Age,Education - Children/Youth,Education - Adults 20+,Student Status,Marital Status,Weight (kg),Recumbent Length (cm),Standing Height (cm),Head Circumference (cm),Exam Completion
count,9964.000000,9964.000000,9964.000000,3527.000000,4877.000000,3311.000000,6071.000000,9196.000000,1081.000000,8463.000000,267.000000,9281.000000
mean,1.931453,1.510036,29.726415,7.886589,2.988312,1.396859,3.127656,60.486320,80.241073,156.247914,41.319476,1.021334
std,0.252695,0.499924,24.840263,8.585869,1.400540,0.681328,3.599059,57.334053,13.915260,22.390038,2.980247,0.183294
min,1.000000,1.000000,-15.000000,0.000000,1.000000,1.000000,1.000000,-57.100000,44.900000,81.800000,15.500000,1.000000
25%,2.000000,1.000000,11.000000,4.000000,2.000000,1.000000,1.000000,39.100000,69.200000,151.000000,39.500000,1.000000
50%,2.000000,2.000000,19.000000,7.000000,3.000000,1.000000,3.000000,63.000000,81.200000,161.800000,41.700000,1.000000
75%,2.000000,2.000000,48.000000,10.000000,4.000000,2.000000,5.000000,79.700000,91.800000,170.600000,43.150000,1.000000
max,2.000000,2.000000,96.000000,99.000000,9.000000,9.000000,99.000000,4750.000000,110.300000,201.300000,47.900000,3.000000

Missing Data
===

Missing data can be absent from the dataset (typically represented as NaN), or it can be coded as a value to represent that it is unknown. Sometimes, particularly with surveys of people, the difference between unknown, refused to answer, and truly missing is important. In other cases, all three can be treated the same, it depends on your data and what you're looking for.

Most machine learning algorithms can't handl NaN entries, so at a minimum we must get rid of those.

A few possible  ways to remove NaN entries are:

* Somehow find the missing data
* Replace with another value (e.g. mean) 
* Recode to a value or label indicating "unknown"
* Remove features (columns)
* Remove examples (rows)

How Many Missing Items In Each Column?
---

In [13]:
print('Number of entries:\n\n' + str(dataset.count()))
print('\n\nNumber of NaN entries:\n\n' 
      + str(len(dataset.index)-dataset.count()))

Number of entries:

Interview/Exam                9964
Gender                        9964
Age                           9964
Education - Children/Youth    3527
Education - Adults 20+        4877
Student Status                3311
Marital Status                6071
Weight (kg)                   9196
Recumbent Length (cm)         1081
Standing Height (cm)          8463
Head Circumference (cm)        267
Exam Completion               9281
dtype: int64


Number of NaN entries:

Interview/Exam                   0
Gender                           0
Age                              0
Education - Children/Youth    6437
Education - Adults 20+        5087
Student Status                6653
Marital Status                3893
Weight (kg)                    768
Recumbent Length (cm)         8883
Standing Height (cm)          1501
Head Circumference (cm)       9697
Exam Completion                683
dtype: int64

Replacing Missing Data
---

Sometimes missing data can be replaced or recreated.
* Some data is split among columns by age group
  - e.g. education, recumbent length vs standing height
  - Combining these columns would remove some missing entries.

Replace Missing Height Values with Recumbent Length
---

In [14]:
nanind = np.isnan(dataset['Standing Height (cm)'])
dataset.loc[nanind,'Standing Height (cm)'] = dataset['Recumbent Length (cm)'][nanind]
dataset.rename(columns={'Standing Height (cm)':'Height (cm)'}, inplace=True)
dataset.drop('Recumbent Length (cm)', axis=1, inplace=True)

dataset.describe()

,Interview/Exam,Gender,Age,Education - Children/Youth,Education - Adults 20+,Student Status,Marital Status,Weight (kg),Height (cm),Head Circumference (cm),Exam Completion
count,9964.000000,9964.000000,9964.000000,3527.000000,4877.000000,3311.000000,6071.000000,9196.000000,9162.000000,267.000000,9281.000000
mean,1.931453,1.510036,29.726415,7.886589,2.988312,1.396859,3.127656,60.486320,149.833781,41.319476,1.021334
std,0.252695,0.499924,24.840263,8.585869,1.400540,0.681328,3.599059,57.334053,31.122574,2.980247,0.183294
min,1.000000,1.000000,-15.000000,0.000000,1.000000,1.000000,1.000000,-57.100000,44.900000,15.500000,1.000000
25%,2.000000,1.000000,11.000000,4.000000,2.000000,1.000000,1.000000,39.100000,143.100000,39.500000,1.000000
50%,2.000000,2.000000,19.000000,7.000000,3.000000,1.000000,3.000000,63.000000,160.500000,41.700000,1.000000
75%,2.000000,2.000000,48.000000,10.000000,4.000000,2.000000,5.000000,79.700000,169.900000,43.150000,1.000000
max,2.000000,2.000000,96.000000,99.000000,9.000000,9.000000,99.000000,4750.000000,201.300000,47.900000,3.000000

Recode and Merge Education Columns
---

New Education Coding:

| Code | Meaning |
|---|---|
| 1 | Less Than High School |
| 2 | High School Diploma (including GED) |
| 3 | More Than High School |
| 7 | Refused |
| 9 | Don't know |

Remember, depending on your data, this may not be the right choice for a specific problem. It may be better to look at youth and adults in separate analyses, or to use a different coding scheme.

In [15]:
# Use pd.cut to split youth education into bins
youth =  pd.cut(dataset['Education - Children/Youth'], 
                bins=[0,13,15,16,70,90,100], labels=False,
                right=False, include_lowest=True)

# Replace the values with the correct ones we want
youth = youth + 1
youth.replace({'Education - Children/Youth':{4:1,5:7,6:9}}, inplace=True)
dataset['Education - Children/Youth'] = youth

# Split adult education into the same bins
adult = pd.cut(dataset['Education - Adults 20+'], 
               bins=[0,3,4,6,8,10], labels=False,
               right=False, include_lowest=True)
adult = adult + 1
adult.replace({'Education - Adults 20+':{4:7,5:9}}, inplace=True)
dataset['Education - Adults 20+'] = adult

# Put them in one education column
nanind = np.isnan(dataset['Education - Adults 20+'])
dataset.loc[nanind, 'Education - Adults 20+'] = dataset.loc[nanind, 'Education - Children/Youth']
dataset.rename(columns={'Education - Adults 20+':'Education'}, inplace=True)
dataset.drop('Education - Children/Youth', axis=1, inplace=True)

dataset.describe()

,Interview/Exam,Gender,Age,Education,Student Status,Marital Status,Weight (kg),Height (cm),Head Circumference (cm),Exam Completion
count,9964.000000,9964.000000,9964.000000,8404.000000,3311.000000,6071.000000,9196.000000,9162.000000,267.000000,9281.000000
mean,1.931453,1.510036,29.726415,1.652903,1.396859,3.127656,60.486320,149.833781,41.319476,1.021334
std,0.252695,0.499924,24.840263,0.875474,0.681328,3.599059,57.334053,31.122574,2.980247,0.183294
min,1.000000,1.000000,-15.000000,1.000000,1.000000,1.000000,-57.100000,44.900000,15.500000,1.000000
25%,2.000000,1.000000,11.000000,1.000000,1.000000,1.000000,39.100000,143.100000,39.500000,1.000000
50%,2.000000,2.000000,19.000000,1.000000,1.000000,3.000000,63.000000,160.500000,41.700000,1.000000
75%,2.000000,2.000000,48.000000,2.000000,2.000000,5.000000,79.700000,169.900000,43.150000,1.000000
max,2.000000,2.000000,96.000000,6.000000,9.000000,99.000000,4750.000000,201.300000,47.900000,3.000000

How Many NaN Entries Now?
---

In [16]:
print('Number of entries:\n\n' + str(dataset.count()))
print('\n\nNumber of NaN entries:\n\n' 
      + str(len(dataset.index)-dataset.count()))

Number of entries:

Interview/Exam             9964
Gender                     9964
Age                        9964
Education                  8404
Student Status             3311
Marital Status             6071
Weight (kg)                9196
Height (cm)                9162
Head Circumference (cm)     267
Exam Completion            9281
dtype: int64


Number of NaN entries:

Interview/Exam                0
Gender                        0
Age                           0
Education                  1560
Student Status             6653
Marital Status             3893
Weight (kg)                 768
Height (cm)                 802
Head Circumference (cm)    9697
Exam Completion             683
dtype: int64

Removing Features (Columns)
---

Head Circumference (cm) has very few valid entries, and could probably be removed. Student Status also has a relatively small number of entries, but still has enough to be kept in an analysis if we thought that was an important feature. Unless we are especially intersted in those values, it makes more sense to remove those columns than the many examples with a NaN value in those columns. For now, let's remove both of them.

Head Circumference (cm) and Student Status have relatively few valid entries: remove them

In [17]:
colnames = list(dataset.columns)
[colnames.remove(x) for x in ['Student Status', 'Head Circumference (cm)']]
dataset = dataset.loc[:,colnames]
dataset.describe()

,Interview/Exam,Gender,Age,Education,Marital Status,Weight (kg),Height (cm),Exam Completion
count,9964.000000,9964.000000,9964.000000,8404.000000,6071.000000,9196.000000,9162.000000,9281.000000
mean,1.931453,1.510036,29.726415,1.652903,3.127656,60.486320,149.833781,1.021334
std,0.252695,0.499924,24.840263,0.875474,3.599059,57.334053,31.122574,0.183294
min,1.000000,1.000000,-15.000000,1.000000,1.000000,-57.100000,44.900000,1.000000
25%,2.000000,1.000000,11.000000,1.000000,1.000000,39.100000,143.100000,1.000000
50%,2.000000,2.000000,19.000000,1.000000,3.000000,63.000000,160.500000,1.000000
75%,2.000000,2.000000,48.000000,2.000000,5.000000,79.700000,169.900000,1.000000
max,2.000000,2.000000,96.000000,6.000000,99.000000,4750.000000,201.300000,3.000000

Removing Examples (Rows)
---

In other cases, it makes more sense to remove incomplete examples than lose out on informative features.

In [18]:
dataset.dropna(axis=0, how='any', inplace=True)

print('Number of entries:\n\n' + str(dataset.count()))
print('\n\nNumber of NaN entries:\n\n' + str(len(dataset.index)-dataset.count()))

Number of entries:

Interview/Exam     5543
Gender             5543
Age                5543
Education          5543
Marital Status     5543
Weight (kg)        5543
Height (cm)        5543
Exam Completion    5543
dtype: int64


Number of NaN entries:

Interview/Exam     0
Gender             0
Age                0
Education          0
Marital Status     0
Weight (kg)        0
Height (cm)        0
Exam Completion    0
dtype: int64

Nonsensical Entries
---

Some entries are perfectly valid numbers, but we can tell they're wrong because they don't make sense. 


* Invalid label (3 in a coding scheme of 0 or 1)
* Age, weight, or height < 0


We can find wrong labels by looking at the unique labels for each column

In [19]:
for col in ['Interview/Exam', 'Gender', 'Education', 'Marital Status', 'Exam Completion']:
    print(col + ': ' + str(dataset[col].unique()))

Interview/Exam: [ 2.]
Gender: [ 1.  2.]
Education: [ 3.  1.  2.  4.  5.]
Marital Status: [  1.   5.   4.   3.   2.   6.   8.  77.  99.]
Exam Completion: [ 1.  2.]

Fix Marital Status
---

According to the [Codebook](https://wwwn.cdc.gov/Nchs/Nhanes/1999-2000/DEMO.htm#DMDMARTL), 8 is not a valid value for Marital Status and should be removed.

In [20]:
ind = dataset['Marital Status'] == 8
dataset = dataset[~ind]

Remove refused and unknown
---

We can also remove any values coded as "refused" or "unknown". While they're valid numerical entries, they may be no more informative than NaN values for some analyses.

There may be analyses where we would want to keep these entries. Again, it's important to consider your specific question when deciding which data to keep or remove.

In [21]:
ind = (dataset['Marital Status'] > 7) | (dataset['Education'] >=7)
dataset = dataset[~ind]
dataset.describe()

,Interview/Exam,Gender,Age,Education,Marital Status,Weight (kg),Height (cm),Exam Completion
count,5537.0,5537.000000,5537.000000,5537.000000,5537.000000,5537.000000,5537.000000,5537.000000
mean,2.0,1.519054,39.950876,1.798086,3.038107,76.684291,166.626115,1.006141
std,0.0,0.499682,21.975258,0.899609,1.911280,65.926316,9.815774,0.078127
min,2.0,1.000000,-15.000000,1.000000,1.000000,-57.100000,119.800000,1.000000
25%,2.0,1.000000,19.000000,1.000000,1.000000,61.740000,159.500000,1.000000
50%,2.0,2.000000,36.000000,1.000000,3.000000,72.940000,166.300000,1.000000
75%,2.0,2.000000,60.000000,3.000000,5.000000,86.400000,173.500000,1.000000
max,2.0,2.000000,96.000000,5.000000,6.000000,4750.000000,201.300000,2.000000

Impossible Continuous Values
---

Continuous values can also have unreasonable values. The summary shows that our minimum age and weight are negative. Also, the maximum weight is over 4000 kg! A quick Google search gives 635 kg as the maximum human weight, so that seems like a reasonable boundary.

* Age < 0
* Weight < 0 
* Weight > 635 kg

In [22]:
ind = ((dataset['Age'] < 0) | (dataset['Weight (kg)'] < 0) 
       | (dataset['Weight (kg)'] > 635))
dataset = dataset[~ind]
dataset.describe()

,Interview/Exam,Gender,Age,Education,Marital Status,Weight (kg),Height (cm),Exam Completion
count,5534.0,5534.000000,5534.000000,5534.000000,5534.000000,5534.000000,5534.000000,5534.000000
mean,2.0,1.518974,39.969281,1.798518,3.036863,75.866104,166.627900,1.006144
std,0.0,0.499685,21.964246,0.899660,1.911019,19.937470,9.816671,0.078149
min,2.0,1.000000,14.000000,1.000000,1.000000,25.600000,119.800000,1.000000
25%,2.0,1.000000,19.000000,1.000000,1.000000,61.740000,159.500000,1.000000
50%,2.0,2.000000,36.000000,1.000000,3.000000,72.970000,166.300000,1.000000
75%,2.0,2.000000,60.000000,3.000000,5.000000,86.400000,173.500000,1.000000
max,2.0,2.000000,96.000000,5.000000,6.000000,193.300000,201.300000,2.000000

Now our maximum and minimum are more reasonable. Notice that now our minimum age is 14. This was probably caused by too much missing information in children under 14 (e.g. marital status). If this age range were important to our analysis, we would want to make different choices when deciding which features to keep or remove.

Some analyses also look for outlies, or entries very far from the mean. Whether this is a good idea or biases the dataset is debatable, and highly dependent on the exact problem, so we won't do it here.

Saturation
---

Values at or beyond a maximum or minimum value capable of being recorded

* Age >= 85

Values can become saturated when a measurement device (a sensor, survey specifications, etc) has a maximum and/or minimum value. Anything recorded at the maximum or minimum value is unknown, as it could actually be a value higher or lower than the measurement allowed. In this survey, all ages 85 and over were recorded as 85. If our analysis needed to know the age in years at all levels, that data would be invalid. Also, any data recorded as higher or lower than the saturation limits is incorrect.

In [23]:
age85 = sum(dataset['Age'] == 85)
above85 = sum(dataset['Age'] > 85)

print('85: ' + str(age85))
print('Over 85: ' + str(above85))

85: 92
Over 85: 1

Remove Saturated Entries
---

There are 91 entries at 85, and one incorrectly entered as over 85. We can choose to keep the ones listed at 85, but the one over the saturation limit is incorrect.

In [24]:
dataset = dataset[dataset['Age'] <= 85]
dataset.describe()

,Interview/Exam,Gender,Age,Education,Marital Status,Weight (kg),Height (cm),Exam Completion
count,5533.0,5533.000000,5533.000000,5533.000000,5533.000000,5533.000000,5533.000000,5533.000000
mean,2.0,1.518887,39.959154,1.798663,3.036689,75.864887,166.629966,1.006145
std,0.0,0.499688,21.953308,0.899678,1.911148,19.939066,9.816356,0.078156
min,2.0,1.000000,14.000000,1.000000,1.000000,25.600000,119.800000,1.000000
25%,2.0,1.000000,19.000000,1.000000,1.000000,61.740000,159.500000,1.000000
50%,2.0,2.000000,36.000000,1.000000,3.000000,72.940000,166.300000,1.000000
75%,2.0,2.000000,60.000000,3.000000,5.000000,86.400000,173.500000,1.000000
max,2.0,2.000000,85.000000,5.000000,6.000000,193.300000,201.300000,2.000000

Confidential Information
===

* Sometimes confidential information should be removed
  - e.g. marital status of minors
* Especially consider this if a dataset will be shared publicly

End Of Data Cleaning
---

Save our cleaned-up dataset to use in the next steps.

In [25]:
dataset.to_csv('Data/CleanedDataset.csv', index=True)